@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f5f5fa;
	--foreground: #171717;
}

body {
	/* font-family: ; */
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
